<h3>TIENDA DE PRODUCTOS</h3>
<nav>
    <ul>
        <li><p>Choperas</p></li>
        <li><p>Latas</p></li>
        <li><p>Porrones</p></li>
        <li><p>Growlers</p></li>
        <li><p>Carro para eventos</p></li>
    </ul>
</nav>