        <div class="columnas">
            <div class="bienvenidos">
                <h2> ♡ BIENVENIDOS ♡ </h2>
                
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A ratione asperiores at odit quidem saepe aliquam illo. Molestiae beatae quibusdam voluptas. Expedita nulla distinctio vel laborum iusto, necessitatibus minus omnis.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur magni sequi unde corrupti quasi hic ducimus distinctio atque, neque repellat aspernatur quibusdam adipisci? Qui corrupti quisquam, nulla quam cum impedit!</p>           
            </div>
            <div class="homeimg">
                <img src="images/_DSC4782feed.jpg" width="500" alt="latas">
            </div>
        </div>
    