<main class="holder">
    <div class="historia">
        <h2>Historia</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae, ullam. Sequi, neque. A quos asperiores
            minus aperiam iste ex necessitatibus cumque. Non quibusdam qui quo necessitatibus animi, maiores eum
            quod.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt officia quo repellendus, nihil temporibus
            eos similique maiores consequatur aperiam, porro perspiciatis cum minima asperiores dolorum, delectus
            error voluptates maxime tempora?</p>
    </div>
    <div class="staff">
        <h2>Staff</h2>
        <div class="personas">
            <div class="persona">
                <img src="images/julito.jpg" alt="">
                <h4>Julian Pagano</h4>
                <h5>Alias: Julito</h5>
                <h6>Discordia favorita: American IPA</h6>
                <p>Uno de los creadores de esta locura hermosa. Es nuestro maestro cervecero, pero también el
                    plomero, electricista, gasista, soldador y todo lo que se necesite para mantener en
                    funcionamiento cada parte del proceso. Detallista como ninguno y su mayor crítico a la hora de
                    probar una birra. El Julito de la gente, querido por toda la comunidad Discordia. Gracias, por
                    darlo todo siempre. </p>
            </div>

            <div class="persona">
                <img src="images/turca.jpg" alt="">
                <h4>Juliana Bordoy</h4>
                <h5>Alias: Julita</h5>
                <h6>Discordia favorita: NEIPA</h6>
                <p>Una de las fundadoras de este gran sueño. Siempre trabajando codo a codo y tratando de hacer las
                    mejores cervezas. Es la encargada de que nuestras hermosas levaduras logren convertir nuestro
                    mosto en sus cervezas favoritas. La quimica del equipo. Ademas de estar a cargo del trabajo
                    administrativo, si, el que nadie quiere hacer. Gracias por tanto, Julita.</p>
            </div>
            <div class="persona">
                <img src="images/titi.jpg" alt="">
                <h4>Cynthia Bordoy</h4>
                <h5>Alias: Titi</h5>
                <h6>Discordia favorita: Session IPA</h6>
                <p>LElla es nuestra Community Manager, la que esta ahi al pie del cañon a cada segundo, respondiendo
                    sus inquietudes y subiendo fotitos lindas para que ustedes nos acompañen dia a dia en nuestros
                    procesos, novedades, lanzamientos, etc. Que hariamos sin vos, Titi querida.</p>
            </div>
</main>