.caja{
    width: 300px;
    height: 300px;
    padding: 20px;
    box-sizing: border-box;
    background: #9d1984;
background: linear-gradient(90deg,#9d1984 0%, #0fc8da 80%);
background: -webkit-linear-gradient(90deg,#9d1984 0%, #0fc8da 80%);
background: -moz-linear-gradient(90deg,#9d1984 0%, #0fc8da 80%);
box-shadow: 10px 20px 15px grey;
}

.columnas{
    column-count: 2;
    column-gap: 60px;
    column-rule: 2px solid rgb(130, 44, 192);
}