.contenedor{
	border: 1px solid black;
	background-color: white;
	width: 600px;
	height: 600px;
	display: flex;
	flex-direction: row;
	flex-direction: row-reverse;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	
		}
	
.text{
	color: white;
}

.caja1 {
	width: 200px;
	height: 200px;
	background-color: red;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.caja2 {
	width: 200px;
	height: 200px;
	background-color: blue;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
.caja3 {
	width: 200px;
	height: 200px;
	background-color: green;
	display: flex;
	justify-content: center;
	align-items: center;
	
}