/*
font-family: 'Open Sans', sans-serif;
*/

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 20px;
}

header{
    background-color: rgb(63, 63, 179);
    padding: 16px 0;
}

header h1{
    color: white;
    font-size: 40px;
    font-weight: 100;
    font-style: italic;
    display: inline-block;
    position: relative;
    bottom: 35px;
    margin-left: 10px;
}

nav{
    background-color: rgb(183, 183, 238);
    margin-bottom: 20px;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li{
    flex-grow: 1;
}

nav ul li a{
    color: white;
    text-decoration: none;
    padding: 3px 6px;
    display: block;
    text-align: center;
}

nav ul li a:hover{
    background-color: rgb(0, 0, 0, 0.3);
}

footer{
    background-color: #ccc;
    clear: both;
    color: #333;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

nav ul li a.activo{
    background-color: #4c76a5;
}

.holder{
    max-width: 960px;
    margin: 0 auto;
}

h2{
    color: #215a9b;
    font-weight: 400;
}

h2.blanco{
    color: white;
    font-weight: 400;
}


/* inicio home */

.bienvenidos{
    width: 75%;
    padding-right: 10px;
    box-sizing: border-box;
}

.testimonios{
    width: 25%;
    background-color: #2e64a1;
    color: white;
    box-sizing: border-box;
}

.columnas{
    display: flex;
    align-content: space-between;
}

.bienvenidos p{
    font-size: 20px;
}

/* fin home */

/* inicio nosotros */

.historia p{
    font-size: 12px;
    }

.personas {
    display: flex;
    justify-content: space-between;
}

.persona {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 18%;
    text-align: center;
    padding: 13px;
    box-sizing: border-box;
    /* background-color: orange; */
}

.persona img {
    border-radius: 50%;
    max-width: 60%;
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.5);
}

.persona h5, 
.persona h6 {
    margin: 0;
    font-weight: normal;
    color: #2e64a1;
}

.persona h5{
    font-size: 14px;
    margin-top: 5px;
}

.persona p{
    color: #666;
    font-size: 10px;
}

/* fin nosotros */

/* inicio servicios*/
.servicio{
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 16px;
    margin: 16px 0;
    display: flex;
    gap: 32px;
    align-items: center;
}

.servicio .info h4{
    color: #2e64a1;
    font-weight: 500;
    font-style: italic;
    border-bottom: 1px solid #2e64a1;
    padding-bottom: 10px;
}

.servicio .info p{
    font-size: 13px;
    line-height: 19px;
}

.servicio img{
    border-radius: 50px;
    display: block;
    max-width: 225px;
}

.servicio:nth-child(even) {
    flex-direction: row-reverse;
}

/* fin servicios */ 