 <H2>Productos</H2>
        <div class="servicio">
            <img src="images/scottish.jpg" alt="">
            <div class="info">
                <h4>Scottish</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores maxime accusamus libero sint,
                    molestias odio enim nisi soluta deleniti, ex possimus cupiditate unde! Dicta, possimus labore saepe
                    fugiat ducimus quae?</p>
                <button type="button" class="btn btn-warning">Añadir al carrito</button>

            </div>

        </div>
        <div class="servicio">
            <img src="images/apa.jpg" alt="">
            <div class="info">
                <h4>APA</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores maxime accusamus libero sint,
                    molestias odio enim nisi soluta deleniti, ex possimus cupiditate unde! Dicta, possimus labore saepe
                    fugiat ducimus quae?</p>
                    <button type="button" class="btn btn-warning">Añadir al carrito</button>
            </div>

        </div>
        <div class="servicio">
            <img src="images/session.jpg" alt="">
            <div class="info">
                <h4>Session IPA</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores maxime accusamus libero sint,
                    molestias odio enim nisi soluta deleniti, ex possimus cupiditate unde! Dicta, possimus labore saepe
                    fugiat ducimus quae?</p>
                    <button type="button" class="btn btn-warning">Añadir al carrito</button>
            </div>

        </div>
        <div class="servicio">
            <img src="images/amerincan.jpg" alt="">
            <div class="info">
                <h4>American IPA</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores maxime accusamus libero sint,
                    molestias odio enim nisi soluta deleniti, ex possimus cupiditate unde! Dicta, possimus labore saepe
                    fugiat ducimus quae?</p>
                    <button type="button" class="btn btn-warning">Añadir al carrito</button>
            </div>

        </div>
        <div class="servicio">
            <img src="images/golden.jpg" alt="">
            <div class="info">
                <h4>Golden</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores maxime accusamus libero sint,
                    molestias odio enim nisi soluta deleniti, ex possimus cupiditate unde! Dicta, possimus labore saepe
                    fugiat ducimus quae?</p>
                    <button type="button" class="btn btn-warning">Añadir al carrito</button>
            </div>

        </div>
        <div class="servicio">
            <img src="images/honey.jpg" alt="">
            <div class="info">
                <h4>Honey</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores maxime accusamus libero sint,
                    molestias odio enim nisi soluta deleniti, ex possimus cupiditate unde! Dicta, possimus labore saepe
                    fugiat ducimus quae?</p>
                    <button type="button" class="btn btn-warning">Añadir al carrito</button>
            </div>

        </div>